*,*::before,*::after
{
	box-sizing:border-box;
}
html
{
	width: 100vw;
	
}
body
{
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
	height:100vh;
	width: 100vw;
}
figure
{
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);*/
	padding:0em;
	border-radius: 30px;
	width: 60vw;
	background-color: #16EB34;
	color: #fff;
}
span
{
	display: block;
}
li
{
	width: 60vw;
	list-style-type: none;
	margin-bottom: 0px;
	border: 2px solid #000;
	text-align: center;
	padding:  .5em;
	display: block;
	background-color: rgba(0,0,0,.1);
}
div
{
	display: none;
	transition: 2s;
}
span
{
	display: block;
	text-align: center;
	padding: .2em;
	margin: 0;
	transition: .2s;
	
	background-color: #000;
	position: relative;
	color: #fff;
	cursor: pointer;
}
span:hover
{
	background: #1CEDA2;
}
span::before
{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15px;
	transition-delay: .2s;
	filter: opacity(0);
	transition: .2s;
	background-color: #fff;
}
span:hover::before
{
	filter: opacity(1);
}
span::after
{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15px;
	transition-delay: .2s;
	filter: opacity(0);
	transition: .2s;
	background-color: #fff;
}
span:hover::after
{
	filter: opacity(1);
}
div:target
{
	display:block;
}